.skills-container {
  padding: 20px 0;
  margin: 0 80px;
}

.skills-container > .skills-icon-wrapper {
  letter-spacing: 8px;
  margin: 10px;
}

.skills-container > .skills-icon-wrapper > .skill-progress-wrapper {
  background-color: lightgray;
  color: white;
}

.skills-container
  > .skills-icon-wrapper
  > .skill-progress-wrapper
  > .skill-progress-fill {
  background-color: darkslategray;
  padding: 0 10px;
}
