@import "/styles/contact/contact.css";

body,
html {
  max-height: 80vh;
  overflow-y: auto;
  margin: 0;
}

@mixin gradient-bg($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
}

header {
  @include gradient-bg(#b32281, #d53176);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 90px;
  max-height: 100px;
  min-height: 150px;
  z-index: -1;
  position: relative;
}

.navbar-container {
  display: block;
  width: 95vw;
  position: fixed;
  top: 0;
  background: white;
  padding: 25px 20px;
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);
  z-index: 10;

  .navbar-links-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto;

    #hestia {
      justify-self: flex-start;
    }

    .navbar-label {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #555;
      }
    }
  }
}

#more-button {
  cursor: pointer;
  background-color: #d53176;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#d53176, 10%);
  }
}

.blog-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .blog-articles {
    background: white;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow-y: auto;

    @media (min-width: 1440px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 40px);
    }

    article {
      margin-bottom: 20px;

      .category,
      .blog-title,
      .blog-description,
      .author {
        margin: 0;
      }

      .category {
        font-size: 0.9em;
        color: #888;
      }

      .blog-title {
        margin-top: 10px;
        font-size: 1.5em;
        color: #555;
      }

      .blog-description {
        margin-top: 5px;
        color: #555;

        .author {
          margin-top: 10px;
          font-size: 0.8em;
          color: #aaa;
        }
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: darken(#d53176, 10%);
    }
  }
}

.hero-container {
  height: 700px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/images/parallax_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/parallax_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    z-index: 2;

    span {
      font-size: 67px;
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      display: block;
    }

    p {
      font-size: 20px;
      margin-top: 35px;
    }
  }

  .hero-see-more {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    button {
      padding: 15px 33px 15px 33px;
      font-size: 12px;
      font-weight: 400;
      background-color: #d53176;
      border-radius: 3px;
      color: white;
      border: none;
      white-space: nowrap;
      font-family: Roboto, Helvetica, Arial, sans-serif;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.content-box {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: -50px;
}

.stand-for-container {
  padding: 20px; // Add padding to the container as needed

  span {
    display: flex;
    justify-content: center;
    font-size: 37px;
    font-weight: 600;
  }
}

.stand-for-wrapper {
  display: flex; // Use flexbox for layout
  justify-content: space-around; // Space items evenly
  margin-bottom: 20px; // Space below the section
}

.responsive-label {
  text-align: center; // Center content
  flex: 1; // Allow equal growth
  margin: 10px; // Add spacing between items

  i {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .h3 {
    font-size: 24px;
    font-weight: bold;
  }
}

.about-hestia-hero {
  position: relative;
  background-image: url("/images/contact.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .about-text {
    flex: 1;
    margin-right: 20px;
    z-index: 2;
    padding-left: 100px;
    padding-right: 150px;

    span {
      font-size: 28px;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      z-index: 2;
    }

    p {
      font-size: 16px;
      margin-top: 0;
    }
  }

  .cards-image {
    align-self: flex-start;
    padding-right: 100px;
    padding-top: 20px;
    max-width: 30%;
    height: auto;
    flex-shrink: 0;
    z-index: 2;
  }

  .blog-body {
    margin-bottom: 20px;

    .get-in-touch-hero {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.blog-body {
  padding: 20px; // Add padding around the blog section

  h1 {
    text-align: center; // Center the blog title
    margin-bottom: 20px; // Space below the title
  }

  display: flex; // Use flexbox for layout
  flex-wrap: wrap; // Allow items to wrap onto the next line
  justify-content: space-between; // Space out items

  .blog-content-titles {
    flex: 1 1 30%; // Make each blog item take up to 30% of the container
    margin: 10px; // Add some margin between items

    .category {
      font-size: 12px; // Smaller font size for category
      color: #666; // Grey color
    }

    .blog-title {
      font-size: 20px; // Font size for the title
      margin: 10px 0; // Margin around the title
    }

    .blog-description {
      font-size: 14px; // Font size for the description
    }
  }

  // Media query for smaller screens
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column; // Stack items vertically
    align-items: center; // Center items
    .blog-content-titles {
      flex: 1 1 100%; // Each item takes full width
      margin: 10px 0; // Space between stacked items
    }
  }
}

.get-in-touch-container {
  position: relative;
  background-image: url("/images/contact.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .about-text {
    flex: 1;
    margin-right: 20px;
    z-index: 2;
    padding-left: 100px;
    padding-right: 150px;

    span {
      font-size: 28px;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      z-index: 2;
    }

    p {
      font-size: 16px;
      margin-top: 0;
    }
  }

  .cards-image {
    align-self: flex-start;
    padding-right: 100px;
    padding-top: 20px;
    max-width: 30%;
    height: auto;
    flex-shrink: 0;
    z-index: 2;
  }

  .blog-body {
    margin-bottom: 20px;

    .get-in-touch-hero {
      text-align: center;
      margin-top: 20px;
    }
  }
}
