.navbar-container {
  background-color: #f8f8f8;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-label {
  margin: 0 15px;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  max-width: 100px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hero-container {
  height: 60vh;
  position: relative;
  background-image: url("/assets/jerseys.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-container > .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  font-size: 4em;
  font-family: "Sports", sans-serif;
  letter-spacing: 5px;
  opacity: 0.8;
  color: darkslategrey;
  text-align: center;
  border-radius: 8px;
}

.hero-container span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
